# Platform Configuration
CONFIG_BOARD_DR1M90_AD101_V10=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=500000000
CONFIG_TIMER_READS_ITS_FREQUENCY_AT_RUNTIME=y
# Cache management
# CONFIG_CACHE_MANAGEMENT=y

# CONFIG_XIP=y

